<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="/Users/edz/.m2/repository/mysql/mysql-connector-java/5.1.41/mysql-connector-java-5.1.41.jar"/>
    <context id="DB2Tables" targetRuntime="MyBatis3" defaultModelType="flat">

        <commentGenerator>
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://rm-2zen5k64755876dciao.mysql.rds.aliyuncs.com:3306/smallmi"
                        userId="smallmi_rw"
                        password="smallmi_rw">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- generate Model -->
        <javaModelGenerator targetPackage="com.wddjnn.user.model"
                            targetProject="src/main/java/">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- 自动生成mapper接口, 可以是 ANNOTATEDMAPPER(注解), XMLMAPPER(xml), MIXEDMAPPER(不知道) -->
        <javaClientGenerator type="ANNOTATEDMAPPER"
                             targetPackage="com.wddjnn.user.dao"
                             targetProject="src/main/java/">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table tableName="user"
               enableDeleteByExample="true">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

    </context>
</generatorConfiguration>